* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "Times New Roman", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#site-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body, input, textarea, button {
    font: inherit;
}

h1 { font-size: 2.4em;} 
h2 { font-size: 2em;}
h3 { font-size: 1.8em;}
h4 { font-size: 1.4em;}
h5 { font-size: 1.2em;}
h6 { font-size: 1em;}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}