.auth {
    width: 100px;
    margin: 11em auto;
}

.content.auth {
    width: 100px;
    margin: 5em auto;
}

header,
footer {
    background-color: #3A0F6F;
    width: 100%;
    overflow: hidden;
    color: #dad8dc;
}


header {
    position: relative;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

header h1 a{
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/logo.png");
    margin-left: 0.5em;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -100vw;
    overflow: hidden;
}


header nav {
    font-size: 1.5em;
    position: absolute;
    right: 0;
    bottom: 16px;
}

header nav>* {
    float: left;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 2em;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.footer-div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav a {
    margin: 0 0.6em;
    text-decoration: none;
    color: #dad8dc;
}

nav a:hover {
    cursor: pointer;
    color: #9842A5;
    font-weight: bolder;
}

#user,
#guest {
    margin: 0;
    padding: 0;
}