#login-page {
    position: relative;
    width: 650px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background:
        /*#B859CC*/
        #9363D9;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1), -12px -12px 18px rgba(0, 0, 0, 0.6);
}

#register-page {
    position: relative;
    width: 650px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background:
        /*#652CBC*/
        #9363D9;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2), -12px -12px 18px rgba(0, 0, 0, 0.6);
    ;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
}

.container .border{
    border: 1px solid #000000;
    width: 100%;
    margin: 0;
    height: 1px; 
}

.container>h1 {
    color: #dad8dc;
    font-weight: bold;
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 17px;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: #dad8dc;
    margin-top: 13px;
    letter-spacing: 1px;
}

label:nth-of-type(2) {
    margin-top: 20px;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
    background: #ecebed;
    padding: 0.5em 0.7em 0.5em 0.7em;
    font-size: 16px;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

.btn.submit {
    background-color: #4616A4;
    color: #fff;
    border: none;
    border-radius: 1em;
    padding: 0.5em 1em;
    margin-top: 1em;
    cursor: pointer;
    width: 50%;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
}

.btn.submit:hover {
    background-color: #9842A5;
}

.field span {
    position: absolute;
    font-size: 18px;
    bottom: 17px;
    right: 30%;
    text-decoration: none;
    color: #dad8dc;
    padding: 5px;
}

.field a {
    text-decoration: none;
    color: #dad8dc;
}

.field a:hover {
    cursor: pointer;
    color: #000000;
    font-weight: bolder;
}